<div class="container mt-5">
  <div class="text-center">
    <h1 class="text-danger mb-4">Articles</h1>
    <p>Our blog has <%= Article.public_count %> articles and counting!</p>
  </div>

  <ul class="list-group mb-4">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
      <li class="list-group-item">
        <h5><%= link_to article.title, article, class: 'text-decoration-none' %></h5>
        <p><%= article.body.truncate(100) %></p>
      </li>
      <% end %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= link_to "New Article", new_article_path, class: 'btn btn-primary' %>
  </div>
</div>

